span._idGenBNMarker-10 {
	display:inline-block;
	text-indent:0;
	width:175px;
}
span._idGenBNMarker-12 {
	display:inline-block;
	font-size:1em;
	text-indent:0;
	width:16px;
}
span._idGenBNMarker-17 {
	display:inline-block;
	text-indent:0;
	width:150px;
}
span._idGenBNMarker-20 {
	display:inline-block;
	font-size:1em;
	text-indent:0;
	width:13px;
}
span._idGenBNMarker-21 {
	display:inline-block;
	font-size:0.857em;
	text-indent:0;
	width:18px;
}
span._idGenBNMarker-22 {
	display:inline-block;
	font-size:0.857em;
	text-indent:0;
	width:17px;
}
span._idGenBNMarker-25 {
	display:inline-block;
	text-indent:0;
	width:12px;
}
span._idGenBNMarker-26 {
	display:inline-block;
	font-size:0.75em;
	text-indent:0;
	width:130px;
}
span._idGenBNMarker-27 {
	display:inline-block;
	font-size:0.857em;
	text-indent:0;
	width:20px;
}
span._idGenBNMarker-28 {
	display:inline-block;
	font-size:1em;
	text-indent:0;
	width:15px;
}
span._idGenBNMarker-29 {
	display:inline-block;
	font-family:"Lucida Sans Std";
	text-indent:0;
	width:57px;
}

img._idGenObjectAttribute-1 {
	height:284px;
	width:408px;
}
img._idGenObjectAttribute-2 {
	height:71px;
	width:110px;
}
img._idGenObjectAttribute-3 {
	height:67px;
	width:198px;
}
img._idGenObjectAttribute-4 {
	height:302px;
	width:441px;
}
img._idGenObjectAttribute-5 {
	height:250px;
	width:467px;
}
img._idGenObjectAttribute-6 {
	height:437px;
	width:818px;
}
img._idGenObjectAttribute-7 {
	height:405px;
	width:195px;
}
img._idGenObjectAttribute-8 {
	height:61px;
	width:186px;
}
img._idGenObjectAttribute-9 {
	height:689px;
	width:540px;
}
img._idGenObjectAttribute-10 {
	height:64px;
	width:85px;
}
img._idGenObjectAttribute-11 {
	height:27px;
	width:50px;
}
img._idGenObjectAttribute-12 {
	height:42px;
	width:62px;
}
img._idGenObjectAttribute-13 {
	height:153px;
	width:95px;
}
img._idGenObjectAttribute-14 {
	height:128px;
	width:87px;
}
img._idGenObjectAttribute-15 {
	height:104px;
	width:137px;
}
img._idGenObjectAttribute-16 {
	height:26px;
	width:35px;
}
img._idGenObjectAttribute-17 {
	height:130px;
	width:338px;
}
img._idGenObjectAttribute-18 {
	height:65px;
	width:175px;
}
img._idGenObjectAttribute-19 {
	height:155px;
	width:171px;
}
img._idGenObjectAttribute-20 {
	height:6px;
	width:24px;
}
img._idGenObjectAttribute-21 {
	height:150px;
	width:171px;
}
img._idGenObjectAttribute-22 {
	height:60px;
	width:251px;
}
img._idGenObjectAttribute-23 {
	height:152px;
	width:222px;
}
img._idGenObjectAttribute-24 {
	height:210px;
	width:381px;
}
img._idGenObjectAttribute-25 {
	height:367px;
	width:667px;
}
img._idGenObjectAttribute-26 {
	height:216px;
	width:136px;
}
img._idGenObjectAttribute-27 {
	height:468px;
	width:558px;
}
img._idGenObjectAttribute-28 {
	height:483px;
	width:200px;
}
img._idGenObjectAttribute-29 {
	height:46px;
	width:50px;
}
img._idGenObjectAttribute-30 {
	height:183px;
	width:183px;
}
img._idGenObjectAttribute-31 {
	height:349px;
	width:165px;
}
img._idGenObjectAttribute-32 {
	height:233px;
	width:215px;
}
img._idGenObjectAttribute-33 {
	height:230px;
	width:195px;
}
img._idGenObjectAttribute-34 {
	height:224px;
	width:143px;
}
img._idGenObjectAttribute-35 {
	height:58px;
	width:34px;
}
img._idGenObjectAttribute-36 {
	height:106px;
	width:164px;
}
img._idGenObjectAttribute-37 {
	height:368px;
	width:558px;
}
img._idGenObjectAttribute-38 {
	height:222px;
	width:522px;
}
img._idGenObjectAttribute-39 {
	height:159px;
	width:522px;
}
img._idGenObjectAttribute-40 {
	height:78px;
	width:522px;
}
img._idGenObjectAttribute-41 {
	height:200px;
	width:522px;
}
img._idGenObjectAttribute-42 {
	height:66px;
	width:435px;
}
img._idGenObjectAttribute-43 {
	height:117px;
	width:510px;
}
img._idGenObjectAttribute-44 {
	height:80px;
	width:435px;
}
img._idGenObjectAttribute-45 {
	height:86px;
	width:435px;
}
img._idGenObjectAttribute-46 {
	height:71px;
	width:435px;
}
img._idGenObjectAttribute-47 {
	height:158px;
	width:522px;
}
img._idGenObjectAttribute-48 {
	height:190px;
	width:435px;
}
img._idGenObjectAttribute-49 {
	height:106px;
	width:142px;
}
img._idGenObjectAttribute-50 {
	height:132px;
	width:161px;
}
img._idGenObjectAttribute-51 {
	height:147px;
	width:204px;
}
img._idGenObjectAttribute-52 {
	height:127px;
	width:163px;
}
img._idGenObjectAttribute-53 {
	height:60px;
	width:51px;
}
img._idGenObjectAttribute-54 {
	height:210px;
	width:163px;
}
img._idGenObjectAttribute-55 {
	height:127px;
	width:417px;
}
img._idGenObjectAttribute-56 {
	height:37px;
	width:50px;
}
img._idGenObjectAttribute-57 {
	height:92px;
	width:120px;
}
img._idGenObjectAttribute-58 {
	height:129px;
	width:306px;
}
img._idGenObjectAttribute-59 {
	height:59px;
	width:369px;
}
img._idGenObjectAttribute-60 {
	height:165px;
	width:235px;
}
img._idGenObjectAttribute-61 {
	height:124px;
	width:170px;
}
img._idGenObjectAttribute-62 {
	height:480px;
	width:326px;
}
img._idGenObjectAttribute-63 {
	height:130px;
	width:159px;
}
img._idGenObjectAttribute-64 {
	height:245px;
	width:428px;
}
img._idGenObjectAttribute-65 {
	height:37px;
	width:51px;
}
img._idGenObjectAttribute-66 {
	height:45px;
	width:150px;
}
img._idGenObjectAttribute-67 {
	height:45px;
	width:153px;
}
img._idGenObjectAttribute-68 {
	height:50px;
	width:504px;
}
img._idGenObjectAttribute-69 {
	height:89px;
	width:230px;
}
img._idGenObjectAttribute-70 {
	height:63px;
	width:164px;
}
img._idGenObjectAttribute-71 {
	height:95px;
	width:250px;
}
img._idGenObjectAttribute-72 {
	height:111px;
	width:259px;
}
img._idGenObjectAttribute-73 {
	height:111px;
	width:485px;
}
img._idGenObjectAttribute-74 {
	height:183px;
	width:442px;
}
img._idGenObjectAttribute-75 {
	height:124px;
	width:89px;
}
img._idGenObjectAttribute-76 {
	height:153px;
	width:215px;
}
img._idGenObjectAttribute-77 {
	height:168px;
	width:164px;
}
img._idGenObjectAttribute-78 {
	height:198px;
	width:198px;
}
img._idGenObjectAttribute-79 {
	height:28px;
	width:40px;
}
img._idGenObjectAttribute-80 {
	height:29px;
	width:41px;
}
img._idGenObjectAttribute-81 {
	height:31px;
	width:99px;
}
img._idGenObjectAttribute-82 {
	height:93px;
	width:62px;
}
img._idGenObjectAttribute-83 {
	height:79px;
	width:102px;
}
img._idGenObjectAttribute-84 {
	height:55px;
	width:146px;
}
img._idGenObjectAttribute-85 {
	height:63px;
	width:58px;
}
img._idGenObjectAttribute-86 {
	height:81px;
	width:66px;
}
img._idGenObjectAttribute-87 {
	height:98px;
	width:67px;
}
img._idGenObjectAttribute-88 {
	height:55px;
	width:82px;
}
img._idGenObjectAttribute-89 {
	height:53px;
	width:44px;
}
img._idGenObjectAttribute-90 {
	height:73px;
	width:92px;
}
img._idGenObjectAttribute-91 {
	height:36px;
	width:349px;
}
img._idGenObjectAttribute-92 {
	height:95px;
	width:120px;
}
img._idGenObjectAttribute-93 {
	height:53px;
	width:53px;
}
img._idGenObjectAttribute-94 {
	height:19px;
	width:63px;
	vertical-align:middle;	
}
img._idGenObjectAttribute-95 {
	height:19px;
	width:105px;
	vertical-align:middle;	
}
img._idGenObjectAttribute-96 {
	height:46px;
	width:104px;
}
img._idGenObjectAttribute-97 {
	height:14px;
	width:7px;
}
img._idGenObjectAttribute-98 {
	height:48px;
	width:136px;
}
img._idGenObjectAttribute-99 {
	height:62px;
	width:98px;
}
img._idGenObjectAttribute-100 {
	height:70px;
	width:246px;
}
img._idGenObjectAttribute-101 {
	height:25px;
	width:139px;
}
img._idGenObjectAttribute-102 {
	height:19px;
	width:104px;
}
img._idGenObjectAttribute-103 {
	height:76px;
	width:169px;
}
img._idGenObjectAttribute-104 {
	height:19px;
	width:115px;
}
img._idGenObjectAttribute-105 {
	height:77px;
	width:165px;
}
img._idGenObjectAttribute-106 {
	height:142px;
	width:182px;
}
img._idGenObjectAttribute-107 {
	height:48px;
	width:224px;
}
img._idGenObjectAttribute-108 {
	height:114px;
	width:152px;
}
img._idGenObjectAttribute-109 {
	height:24px;
	width:109px;
	vertical-align:middle;	
}
img._idGenObjectAttribute-110 {
	height:132px;
	width:182px;
}
img._idGenObjectAttribute-111 {
	height:48px;
	width:176px;
}
img._idGenObjectAttribute-112 {
	height:251px;
	width:314px;
}
img._idGenObjectAttribute-113 {
	height:122px;
	width:103px;
}
img._idGenObjectAttribute-114 {
	height:201px;
	width:125px;
}
img._idGenObjectAttribute-115 {
	height:138px;
	width:90px;
}
img._idGenObjectAttribute-116 {
	height:122px;
	width:306px;
}
img._idGenObjectAttribute-117 {
	height:50px;
	width:123px;
}
img._idGenObjectAttribute-118 {
	height:96px;
	width:102px;
}
